@model IEnumerable<FarmaciaMagaña.Models.ProductosModel>

@{
    ViewBag.Title = "Inventario";
}

<div class="jumbotron">
    <h3>INVENTARIO</h3>
</div>

<div>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
                <th>@Html.DisplayNameFor(model => model.IDCategoria)</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDCategoria)

                        @*@Html.DisplayFor(modelItem => item.nombreCategoria(item.IDCategoria));*@
                    </td>
                    
                </tr>
            }
        </tbody>
    </table> 
</div>