<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia Magaña</title>
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <script type="text/javascript" src="~/Scripts/shortcut.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   

</head>
<body>

   
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    <a href='@Url.Action("Index", "Home")'>
                        <img src='@Url.Content("~/media/logo/FarmaciaLogo.png")' width="50" class="img-responsive" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href='@Url.Action("Index","Ventas")'><img src="~/media/icons/cash.png" width="20" /> Ventas(1)</a> 
                         @*@Html.ActionLink("Ventas(1)", "Index", "Ventas")*@</li>
                        <li><a href='@Url.Action("Inventario","Productos")'><img src="~/media/icons/pricetags.png" width="20" /> Inventario(2)</a>
                        <li><a href='@Url.Action("Index","Compras")'><img src="~/media/icons/bag.png" width="20" /> Compras(3)</a>
                            @*<li>@Html.ActionLink("Inventario(2)", "Inventario", "Productos")</li>
            <li>@Html.ActionLink("Compras(3)", "Index", "Compras")</li>*@

<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="~/media/icons/medkit.png" width="20" /> Productos<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href='@Url.Action("Agregar","Productos")'>Agregar producto</a></li>
                                <li><a href='@Url.Action("Modificar","Productos")'>Editar producto</a></li>
                                <li><a href='@Url.Action("Categorias","Productos")'>Categorías</a></li>
                                <li><a href='@Url.Action("Papelera","Productos")'>Papelera</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="~/media/icons/person-stalker.png" width="20"/> Proveedores<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href='@Url.Action("Agregar","Proveedores")'>Agregar proveedor</a></li>
                                <li><a href='@Url.Action("Modificar","Proveedores")'>Editar proveedor</a></li>
                            </ul>
                        </li>
                        @*<li>@Html.ActionLink("Reportes(4)", "Index", "Reportes")</li>*@
                        <li><a href='@Url.Action("Index","Reportes")'><img src="~/media/icons/stats-bars.png" width="20" /> Reportes(4)</a>
</ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                Todos los derechos reservados 2016. Bienvenido(a), 
                @if (User.Identity.IsAuthenticated)
                {
                   @User.Identity.Name; 
                }
            </footer>
        </div>
    
   
    

    
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
